<div class="pos row">
  <div class="pos-container-prod col-lg-8">
    <div class="pos-header col-lg-12 p-t-15">
      <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media m-v-10 align-items-center">
          <nz-avatar nzIcon="user" nzSrc="assets/images/avatars/thumb-3.jpg"></nz-avatar>
          <div class="media-body m-l-15">
            <h4 class="m-b-0">Maria Panchita</h4>
            <span class="text-gray">Martes 09, Feb 2021</span>
          </div>
        </div>

        <div class="d-md-flex align-items-center d-none">
          <div class="media align-items-center m-r-40 m-v-5">
            <i nz-icon nzType="field-time" nzTheme="outline"></i>
            <div class="d-flex align-items-center m-l-10">
              <h2 class="m-b-0 m-r-5">60</h2>
              <span class="text-gray">min. trascurridos</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <nz-divider nzPlain nzText="Toma de Pedidos" nzOrientation="center"></nz-divider>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Buscar producto" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>

    <div class="product-tabs col-lg-12 p-t-15">
      <nz-tabset>
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon [nzType]="tab.icon"></i>
            {{ tab.name }}
          </ng-template>

          <app-product-tab-list [productList]="tab.items"></app-product-tab-list>

        </nz-tab>
      </nz-tabset>
    </div>

  </div>

  <div class="pos-container-cart col-lg-4">

    <div class="col-lg-12 p-t-15 p-b-15">
      <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media align-items-center">
          <button nz-button nzType="default"><i nz-icon nzType="rollback" nzTheme="outline"></i></button>
          <div class="table-detail media align-items-center m-l-15 m-v-5">
            <i class="fas fa-wine-glass"></i>
            <div class="d-flex align-items-center m-l-10">
              <h4 class="m-b-0 m-r-5">Mesa 14</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="client-containter col-lg-12">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Buscar cliente" [(ngModel)]="selectedValue">
        <nz-option *ngFor="let option of clientOptionList" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
      </nz-select>
      <button (click)="openClientComponent()" class="btn-client" nz-button nzType="default"><i nz-icon nzType="user-add"
          nzTheme="outline"></i></button>
    </div>

    <div class="col-lg-12">

      <app-cart-item-list [cart]="cart" (addNote)="openNoteComponent($event)" (deleteNote)="_deleteNote($event)" (deleteItem)="_deleteItem($event)"
        (addQuantity)="_addQuantity($event)">
      </app-cart-item-list>

      <div *ngIf="false" class="cart-btn row">
        <button nz-button class="col-lg-6 bg-secondary">
          Para llevar todos
        </button>
        <button nz-button class="col-lg-6 bg-primary">
          Enviar <br>
          <span class="font-size-10">1 producto</span>
        </button>
      </div>


      <div *ngIf="true" class="cart-btn row">
        <button nz-button class="col-lg-6 bg-atomic-warning">
          Pre-Cuenta
        </button>
        <button nz-button (click)="openPaymentComponent()" class="col-lg-6 bg-primary">
          Pagar <br>
          <span class="font-size-10">1 producto</span>
        </button>
      </div>

    </div>
  </div>
</div>
