<div class="pos row">
  <div class="pos-container-prod col-lg-8">
    <div class="pos-header col-lg-12 p-t-15">
      <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media m-v-10 align-items-center">
          <nz-avatar nzIcon="user" nzSrc="assets/images/avatars/thumb-3.jpg"></nz-avatar>
          <div class="media-body m-l-15">
            <h4 class="m-b-0">Maria Panchita</h4>
            <span class="text-gray">Martes 09, Feb 2021</span>
          </div>
        </div>

        <div class="d-md-flex align-items-center d-none">
          <div class="media align-items-center m-r-40 m-v-5">
            <i nz-icon nzType="field-time" nzTheme="outline"></i>
            <div class="d-flex align-items-center m-l-10">
              <h2 class="m-b-0 m-r-5">60</h2>
              <span class="text-gray">min. trascurridos</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <nz-divider nzPlain nzText="Toma de Pedidos" nzOrientation="center"></nz-divider>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="Buscar producto" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>

    <div class="product-tabs col-lg-12 p-t-15">
      <nz-tabset>
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <i nz-icon [nzType]="tab.icon"></i>
            {{ tab.name }}
          </ng-template>

          <div class="product-tab-list" nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
            <div *ngFor="let item of tab.items" nz-col class="gutter-row" [nzSpan]="6">
              <div class="product-tab-item text-center">
                <div class="item-header">
                  <nz-avatar [nzSize]="70" [nzText]="getAcronym(item.name)" [nzSrc]="item.image"></nz-avatar>
                </div>
                <div class="item-body">
                  <h6>{{item.name}}</h6>
                  <span>{{item.currency}}{{item.price}}</span>
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>

  </div>
  <div class="pos-container-cart col-lg-4">
    <div class="col-lg-12 p-t-15 p-b-15">
      <div class="d-md-flex align-items-md-center justify-content-between">
        <div class="media align-items-center">
          <button nz-button nzType="default"><i nz-icon nzType="rollback" nzTheme="outline"></i></button>
          <div class="table-detail media align-items-center m-l-15 m-v-5">
            <i class="fas fa-wine-glass"></i>
            <div class="d-flex align-items-center m-l-10">
              <h4 class="m-b-0 m-r-5">Mesa 14</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="client-containter col-lg-12">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Buscar cliente" [(ngModel)]="selectedValue">
        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
      </nz-select>
      <button (click)="openComponent()" class="btn-client" nz-button nzType="default"><i nz-icon nzType="user-add" nzTheme="outline"></i></button>
    </div>
    <div class="col-lg-12">
      <div class="row cart-header justify-content-between">
        <div class="col-lg-6">
          <h6>Productos</h6>
        </div>
        <div class="col-lg-2 text-center">
          <h6>Cant.</h6>
        </div>
        <div class="col-lg-4 text-right">
          <h6>Precio</h6>
        </div>
      </div>
      <div class="cart-item-list">
        <div class="row cart-item m-l-0 m-r-0">
          <div class="col-lg-6">
            <div class="media align-items-center">
              <nz-avatar nzIcon="user" nzSrc="assets/images/others/dish.png"></nz-avatar>
              <div class="media-body m-l-15">
                <h6 class="m-b-0">Tallarin palo alto</h6>
                <span class="text-gray font-size-11">S/60.00</span>
              </div>
            </div>
          </div>
          <div class="col-lg-2  text-center">
            <button class="btn-item-cant">1</button>
          </div>
          <div class="col-lg-4  text-right">
            <h6 class="p-t-10 p-b-10 m-b-0">S/60.00</h6>
          </div>
          <div class="col-lg-12">
            <div class="row m-t-10">
              <div class="col-lg-10">
                <div class="container-item-note"><span>Agregar nota.</span></div>
              </div>
              <div class="col-lg-2 text-center">
                <button class="btn-item-delete"><i class="far fa-trash-alt"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cart-footer">
        <div class="row">
          <div class="footer-detail col-lg-12 p-10">
            <div class="row text-gray">
              <div class="col-lg-8">Descuento:</div>
              <div class="col-lg-4 text-right">S/0</div>
              <div class="col-lg-8">Sub Total:</div>
              <div class="col-lg-4 text-right">S/60.00</div>
            </div>
          </div>
          <div class="btn-note col-lg-6 p-t-20 text-center">
            <h6 class="btn-title">Para llevar todos</h6>
          </div>
          <div class="btn-order col-lg-6 p-10 text-center">
            <h6 class="btn-title">Enviar</h6>
            <span class="btn-title-detail">1 producto</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
