<div class="page-header has-tab">
  <h2 class="font-weight-normal">Productos</h2>
</div>

<nz-tabset [nzSelectedIndex]="0" class="page-header-tab">
  <nz-tab nzTitle="Categorias">
    <ng-template nz-tab>
      <app-category-tab-container></app-category-tab-container>
    </ng-template>
  </nz-tab>

  <nz-tab nzTitle="PLatos y bebidas">
    <ng-template nz-tab>
    <app-dish-drink-tab-container></app-dish-drink-tab-container>
  </ng-template>
  </nz-tab>

  <nz-tab nzTitle="Combos">
    <ng-template nz-tab>
      <app-combo-tab-container></app-combo-tab-container>
    </ng-template>
  </nz-tab>

  <nz-tab nzTitle="Menus">
    <ng-template nz-tab>
      <app-menu-tab-container></app-menu-tab-container>
    </ng-template>
  </nz-tab>

  <nz-tab nzTitle="Insumos">
    <ng-template nz-tab>
      <app-supplies-tab-container></app-supplies-tab-container>
    </ng-template>
  </nz-tab>
</nz-tabset>
