<div class="side-nav-toggle">
  <ul>
    <li>
      <a (click)="toggleFold()">
        <i nz-icon [nzType]="isFolded? 'menu-unfold':'menu-fold'" theme="outline"></i>
      </a>
    </li>
  </ul>
</div>
<perfect-scrollbar class="side-nav">
  <ul nz-menu nzMode="inline" nzTheme="default" [nzInlineCollapsed]="isFolded">
    <ng-container *ngFor="let item of menuItems; let i = index">
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact:
        true}" nz-tooltip nzTooltipPlacement="right" *ngIf="item.submenu.length === 0">
        <i *ngIf="item.iconType == 'nzIcon'" nz-icon [nzType]="item.icon" [theme]="item.iconTheme"></i>
        <i *ngIf="item.iconType == 'fontawesome'" class="m-r-10" [ngClass]="[item.iconTheme, item.icon]"></i>
        <span> <a [routerLink]="item.path">{{ item.title }}</a></span>
      </li>
      <li routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact:
        true}" nz-submenu [nzTitle]="item.title" [nzIcon]="item.icon" *ngIf="item.submenu.length > 0">
        <ul>
          <ng-container *ngFor="let subItem of item.submenu">
            <li routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact:
              true}" nz-menu-item nz-tooltip nzTooltipPlacement="right" *ngIf="subItem.submenu.length === 0">
              <i *ngIf="subItem.iconType == 'nzIcon'" nz-icon [nzType]="subItem.icon" [theme]="subItem.iconTheme"></i>
              <i *ngIf="subItem.iconType == 'fontawesome'" class="m-r-10"
                [ngClass]="[subItem.iconTheme, subItem.icon]"></i>
              <span><a [routerLink]="subItem.path">{{ subItem.title }}</a></span>
            </li>
            <li nz-submenu [nzTitle]="subItem.title" [nzIcon]="subItem.icon" *ngIf="subItem.submenu.length > 0"></li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</perfect-scrollbar>
<div class="row m-0 p-0 side-nav-user">
  <div class="side-nav-avatar">

      <div class="avatar-img">
        <nz-avatar [nzSize]="30" nzIcon="user" nzSrc="assets/images/avatars/thumb-3.jpg"></nz-avatar>
      </div>
      <div class="avatar-detail">
        <h6 class="m-0">Maria Panchita</h6>
        <span class="font-size-11">Sucursal: Miraflores</span>
      </div>


  </div>
  <div class="side-nav-settings">
    <i nz-icon nzType="setting" nzTheme="outline"></i>
  </div>
</div>
